@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>Company &amp; Care</i> <br /> <i>Healthy </i> <br /> <i>Staff</i></h2>
            
           
        </div>
        <div class="da-slide">
            <h2><i>Healing </i> <br /> <i>Inside And Out</i> <br /> </h2>
            <p><i>The 1 Nation 1 Day medical campaign</i> <br /></p>
            <div class="da-img span6">
            	<div class="span6">
					<iframe src="http://player.vimeo.com/video/70590136" width="100%" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> 
 				</div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>USING WEB</i> <br /> <i>RESGISTER POLICY </i> <br /> </h2>
            <p><i>Simple</i> <br /> <i>fast</i> <br /> <i>more convenient </i></p>
            
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>		
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span9">
            <span>Sends a request to admin for a required policy</span>
            <p>The Medicare system will maintain all information related to the employee (Patient), maintenance of Claims pertaining to the Insurance companies, information about all sort of medical services providing by the hospital to the corporate employees, claim settlements & adjustments against their services authorizing by the Insurance Companies.</p>
        </div>
        <a href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697" class="btn-buy hover-effect">Request Now</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">
    	<!-- Who We Are -->
		<div class="span8">
			<div class="headline"><h3>Welcome To Project SEM III</h3></div>
			<p><img class="pull-left lft-img-margin img-width-200" src="~/assets/img/carousel/6.jpg" alt="" /> Team's name Whatever</p>	
            <ul class="unstyled">
            	<li><i class="icon-ok color-green"></i> All Members is handsomes</li>
            	<li><i class="icon-ok color-green"></i> Website Responsive using Bootstrap </li>
            	<li><i class="icon-ok color-green"></i> Complete Project before deadline</li>
                <li><i class="icon-ok color-green"></i> Whatever - Bất cứ điều gì</li>
            </ul><br />

            <blockquote class="hero-unify">
                <p>Adward - My names</p>
                <small>CEO, Adward - Thành</small>
            </blockquote>
        </div><!--/span8-->        

        <!-- Latest Shots -->
        <div class="span4">
			<div class="headline"><h3>New Employees</h3></div>
			<div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="~/assets/img/carousel/5.jpg" alt="" />
                    <div class="carousel-caption">
                      <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="~/assets/img/carousel/4.jpg" alt="" />
                    <div class="carousel-caption">
                      <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="~/assets/img/carousel/3.jpg" alt="" />
                    <div class="carousel-caption">
                      <p>Cras justo odio, dapibus ac facilisis in, egestas.</p>
                    </div>
                  </div>
                </div>
                
                <div class="carousel-arrow">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
			</div>
        </div><!--/span4-->
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->

